<HTML>
<BODY>
<h1>How does yoga work?</h1>

<h2>Yoga is a mind and body practice with a 5,000-year history in ancient Indian philosophy. Various styles of yoga combine physical postures, breathing techniques, and meditation or relaxation.</h2>

<h3>In more recent years, it has become popular as a form of physical exercise based upon poses that promote improved control of the mind and body and enhance well-being.

There are several different types of yoga and many disciplines within the practice. This article explores the history, philosophy, and various branches of yoga.</h3>





</BODY>
</HTML>



