body {
  background: image_url('green_dust_scratch.png');
  font-family: 'Mountains of Christmas', cursive;
  color: #3D055F;
  font-weight: 600;
}


h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;

}